* {
  margin: 0;
  padding: 0;
}

/*    ---------    TITLE    ---------    */

#title {
  font-size: 6vw;
  text-align: right;
  padding: 1%;
  font-weight: lighter;
}

/*    ---------    NAV    ---------    */

#nav-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-left: 5%;
}

a {
  font-size: 1.5vw;
  font-weight: bolder;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #f30067;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}

/*    ---------    WELCOME    ---------    */

#welcome-component {
  background-color: silver;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*    ---------    ABOUT    ---------    */

#about-component {
  background-color: gray;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*    ---------    PROJECTS    ---------    */

#projects-component {
  background-color: #d1d1d1;
  height: 200vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*    ---------    CONTACT    ---------    */

#contact-component {
  background-color: #444444;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
